{% extends 'base.html' %}

{% block title %}
	Ver Perfil
{% endblock  %}

{% block content %}
	<div class="row content-header">
	<div class="container">
      <div  id="contenedor" class="col s12 m6 l12">
        <div id="car" class="card z-depth-3 hoverable">
        	{% if info_enviado %}
        		<h5 id="cn" align="center ">CAMBIOS GUARDADOS SATISFACTORIAMENTE</h5>
        		<br>
        		<a class="btn" href="{% url 'vista_user' %}">Perfil</a>
        	{% else %}
        		<h5 id="cn" align="center ">PERFIL</h5>
				<div class="divider"></div><br>
				<br>
				<font size="4">
					<p><b>Nombres: </b>{{ usuario.first_name }}</p>
					<p><b>Apellidos: </b>{{ usuario.last_name }}</p>
					<p><b>Cedula: </b>{{ usuario.username }}</p>
					<p><b>Correo: </b>{{ usuario.email }}</p>
					<p><b>Teléfono: </b>{{ usuario.user_profile.telefono }}</p>
					<p><b>Supervisor: </b>{{ usuario.user_profile.supervisor }}</p>
					<p><b>Area: </b>{{ usuario.user_profile.area }}</p>

				</font>
				<br><div class="divider"></div>
				<br>
				<center>					
					<a href="javascript:window.history.back();" class="btn btn-sm btn-curious-blue-variant-1">Volver</a>
				</center>
        	{% endif %}
        	
			
		</div>
	</div>
</div>
</div>
{% endblock  %}