{% extends 'base.html' %}

{% block title %}
	Editar Usuario
{% endblock  %}

{% block content %}
<div class="row content-header">
	<div class="container">
      <div  id="contenedor" class="col s12 m6 l12">
        <div id="car" class="card z-depth-3 hoverable">        	
        	<h5 id="cn" align="center ">EDITAR PERFIL</h5>
			<div class="divider"></div><br>			
			<h5 id="cn" align="center ">{{ informacion }}</h5>
			<form action="." method = "POST" enctype="multipart/form-data">
				{% csrf_token %}
				{{ form.as_p }}
				{{ form_user.as_p }}
				<center>
					<button  type="submit" class="btn"> Guardar </button>
					<a class="btn" href="{% url 'vista_user' %}">Volver</a>
				</center>
				
				
			</form>
			
		</div>
	</div>
</div>
</div>
{% endblock  %}